<!DOCTYPE html>
<html>
<head>
<title>Bootstrap 101 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/houndcloud.css">
</head>
<body>
<div class="navber navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h5>Houndcloud makes you fun by nice tracks.</h5>
    </div>  
  </div>
</div>
<div class="container">
