<div class="logo">
  HoundCloud
</div>
<% unless session[:token].nil? %>
  <div class="form">  
<form action="/get" method="get" class="well form-inline" role="search">
  <div class="form-group">
    <div class="get">
      <input type="text" class="form-control" placeholder="Input Artist" name="artist">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
</form>
</div>
<% end %>
<div class="auth">
  <form action="/auth/soundcloud" method="get">
    <input type="image" src ="http://connect.soundcloud.com/2/btn-connect-sc-l.png">
  </form>
</div>
