<%= erb :"shared/header" %>
<div class="logo">
  HoundCloud
</div>
<div class="auth">
  <form action="/auth/soundcloud" method="get">
    <input type="image" src ="http://connect.soundcloud.com/2/btn-connect-sc-l.png">
  </form>
</div>
<%= erb :"shared/footer" %>
