<%= erb :"shared/header" %>
<h1>This results based on <%= @artist %></h1>
<% @tracks.each do |track| %>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= track.permalink_url %>"></iframe>
<% end %>
<%= erb :"shared/footer" %>
