body {
  padding-top:70px;
}

body .logo {
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  font-size:70px; 
  height:80px;
}

.form {
  text-align:center;
  padding-bottom: 30px;
}

.error {
  text-align:center;
}

body .auth{
  text-align:center;
}
